absl-py==0.5.0
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
boto3==1.9.19
botocore==1.12.19
certifi==2018.8.24
cycler==0.10.0
decorator==4.3.0
docutils==0.14
futures==3.1.1
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
jmespath==0.9.3
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.0
memory-profiler==0.54.0
msgpack-python==0.5.6
numpy==1.15.2
pandas==0.23.4
pandas-td==0.9.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.5
protobuf==3.6.1
psutil==5.4.7
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.15.1
s3transfer==0.1.13
scipy==1.1.0
seaborn==0.9.0
simplegeneric==0.8.1
six==1.11.0
td-client==0.12.0
tensorboard==1.11.0
tensorflow==1.11.0
tensorflow-hub==0.1.1
termcolor==1.1.0
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
