in:
  type: mixpanel
  api_key: ${secret:mixpanel.api_key}
  api_secret: ${secret:mixpanel.api_secret}
  timezone: ${mixpanel.timezone}
  from_date: ${mixpanel.from_date}
  fetch_days: ${mixpanel.fetch_days}
  latest_fetched_time: ${last_results.latest_fetched_time}
  incremental_column: ${mixpanel.incremental_column}
  columns:
  - {name: time, type: long}
  - {name: event, type: string}
  - {name: distinct_id, type: string}
  - {name: $app_build_number, type: long}
  - {name: $app_release, type: long}
  - {name: $app_version, type: string}
  - {name: $app_version_string, type: string}
  - {name: $bluetooth_enabled, type: boolean}
  - {name: $bluetooth_version, type: string}
  - {name: $brand, type: string}
  - {name: $carrier, type: string}
  - {name: $city, type: string}
  - {name: $google_play_services, type: string}
  - {name: $has_nfc, type: boolean}
  - {name: $has_telephone, type: boolean}
  - {name: $lib_version, type: string}
  - {name: $manufacturer, type: string}
  - {name: $model, type: string}
  - {name: $os, type: string}
  - {name: $os_version, type: string}
  - {name: $region, type: string}
  - {name: $screen_dpi, type: long}
  - {name: $screen_height, type: long}
  - {name: $screen_width, type: long}
  - {name: $wifi, type: boolean}
  - {name: APK_version, type: string}
  - {name: AssetID, type: string}
  - {name: ClientID, type: string}
  - {name: ClinicID, type: long}
  - {name: ClinicName, type: string}
  - {name: ExamRoom, type: string}
  - {name: TimeStamp, type: long}
  - {name: asset, type: string}
  - {name: content-type, type: string}
  - {name: date, type: timestamp, format: '%Y-%m-%dT%H:%M:%S'}
  - {name: display-seconds, type: long}
  - {name: freq, type: long}
  - {name: full-screen, type: boolean}
  - {name: is-sponsor, type: boolean}
  - {name: mp_country_code, type: string}
  - {name: mp_lib, type: string}
  - {name: mp_processing_time_ms, type: long}
  - {name: salesforce-campaign-id, type: string}
  - {name: sponsor-name, type: string}
  out: {}
exec: {}
filters:
- type: rename
  rules:
  - rule: upper_to_lower
  - rule: character_types
    pass_types: ["a-z", "0-9"]
    pass_characters: "_"
    replace: "_"
  - rule: first_character_types
    pass_types: ["a-z"]
    pass_characters: "_"
    prefix: "_"
  - rule: unique_number_suffix
    max_length: 128
- type: add_time
  to_column: {name: time}
  from_value: {mode: upload_time}
