[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas-td = "*"
requests = ">=2.20.0"
numpy = ">=1.16.2"

[dev-packages]
"flake8" = "*"
mypy = "*"
rope = "*"
memory-profiler = "*"

[requires]
python_version = "3.7"
