name: Link Checker

on: 
  schedule:
    # Run on 1st day of every month
    - cron: '0 0 1 * *'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  boxes-checker:
    name: Treasure Boxes Link Checker
    runs-on: ubuntu-latest
    continue-on-error: true
    steps: 
      - name: Setup Environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - run: pip3 install git+https://github.com/linkchecker/linkchecker.git
      - run: mkdir ./logs

      - name: Check Links
        run: '(linkchecker -t 100 -o html http://boxes.treasuredata.com > ./logs/boxes.treasuredata.com.html) || true'
        continue-on-error: true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: boxes.treasuredata.com.html
          path: ./logs/boxes.treasuredata.com.html


      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: project-treasure_box
          SLACK_USERNAME: CI_Bot
          SLACK_TITLE: Link Check of boxes.treasuredata.com
          MSG_MINIMAL: true
          SLACK_ICON_EMOJI: ':failed:'
          SLACK_MESSAGE: 'Monthly link check: broken links detected on boxes.treasuredata.com. Please see report artifact on https://github.com/treasure-data/treasure-boxes/actions/workflows/linkchecker.yml'
          SLACK_FOOTER: Powered by the Evangelism Team - Austin Blackstone
          SLACK_COLOR: '#E10600'
